/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}








*{
  box-sizing:border-box;
}
 
body{
  color:#24292e;
  font-size:14.4px;
}
a{
  text-decoration:none;
  color:#111111;
}
img{
  max-width:100%;
  height:auto;
}
.container{
  width:1000px;
  margin:0 auto;
}
header{

  display:flex;
  justify-content: space-between; 
  padding:120px;
}
h1{
  font-size:32px;
  font-weight:normal;
}
.header-ul{
  display:flex;
  list-style:none;
  padding-top:8px;
}
.header-ul li{
  padding-left:30px;
  font-size:14.4px;
}
.header-ul li:hover{
  opacity:0.7;
}
.header-image img{
  height:270px;
  background-repeat:no-repeat;
  background-size:cover;
}
.about-wrapper{
  height:330px;
  margin-top:94px;
}
h2{
  font-size:24px;
  margin:0 auto;
  width:80px;
  padding-bottom:74px;
}
.about-textarea{
  width:840px;
  margin:0 auto;
}
.xxxxx{
  padding-bottom:30px;
}
.about-information{
  padding-bottom:10px;
}
.about-information p{
  padding-bottom:10px;
}
.about-text p{
  padding-top:10px;
}


.works-wrapper{
  height:466px;
  margin-top:140px;
}
.works-wrapper img{
  width:260px;
}
.image-ul{
  list-style:none;
  display:flex;
  flex-wrap:wrap;
  padding-left:84px;
}
.works-image{
  margin:0 auto;
}
.image-ul li{
  padding-right:30px;
  padding-bottom:30px;
}
.news-wrapper{
  height:360px;
  margin-top:166px;
}
.news-dl{
  margin:0 auto;
  display:flex;
  flex-wrap:wrap;
  width:840px;
  line-height:54px;
  border-top:solid 1px #c8c8c8;
}
.news-dt{
  width:20%;
  padding-left:16px;
  box-sizing:border-box;
  border-bottom:solid 1px #c8c8c8;
}
.news-dd{
  width:80%;
  border-bottom:solid 1px #c8c8c8;
}

.contact-wrapper{
  height:500px;
  margin-top:136px;
  margin-bottom:130px;
}
.contact-form{
  width:840px;
  margin:0 auto;
  height:374px;
}
.contact-wrapper dl{
  display:flex;
  flex-wrap:wrap
}
.name-dd,.email-dd{
  width:712px;
  height:54px;
}
.name-dt,.email-dt{
  width:128px;
  height:54px;
  margin-top:5px;
}
.message-dt{
  height:194px;
  width:128px;
  margin-top:5px;
}
.message-dd{
  height:194px;
  width:712px;
}
input{
  width:712px;
  height:42px;
  border:solid 1px #c8c8c8;
}
textarea{
  width:712px;
  height:160px;
  border:solid 1px #c8c8c8;
}
label{
  font-size:0.9rem;
}
.btn-wrapper{
  width:840px;
  height:56px;
}
.btn{
  width:200px;
  height:56px;
  margin-left:320px;
  cursor:pointer;
  background-color:#fff;
}
.btn:hover{
  background-color:#24292e;
  color:#fff;
}